
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('campo2.jpg'); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    max-width: 400px;
    text-align: center;
}


.foto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}


.nome {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}


.informacoes {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
    text-align: left;
}


.botoes {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.btn-enviar {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    flex: 1;
}

.btn-seguir {
    background-color: transparent;
    color: #007BFF;
    border: 2px solid #007BFF;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    flex: 1;
    transition: all 0.3s ease;
}

.btn-seguir:hover {
    background-color: #007BFF;
    color: white;
}
